.main-nav {
	background: #eee;
	margin-bottom: 1em;

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	a {
		padding: 1.25rem 0.5rem;
		font-size: 1rem;
		max-width: 140px;
		font-weight: bold;
		display: flex;
		align-items: flex-start;
		color: $reddish;
		background-color: $tan;
		&:hover, &:focus {
			background-color: $reddish;
			color: $white;
			svg {
				fill: $white; 
			}
			span {
				color: $white; 
			}
		}
	}

	span {
    display: block;
    font-size: 0.875rem;
    font-weight: normal;
    color: #888;
    margin: 0.25rem 0 0 0;
  }

   .icon {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 1rem;
    fill: #999;
  }
  &.outlines {
    * {
      outline: 1px solid rgba(red, 0.5); 
    }
  }
}

@media (min-width: $break-one) {
  .main-nav {
    a {
      max-width: 500px;
      font-size: 1.5rem; 
    }
    .icon {
      width: 25px;
      height: 25px;
    }
  }
}